* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: flex-start;   /* start from top */
  background:
    linear-gradient(135deg, rgba(236, 154, 129, 0.85), rgba(118,75,162,0.85)),
    url("./assets/keep-tracking.jpg");
  background-size: cover;
  background-attachment: fixed;
}


.container {
  width: 100%;
  max-width: 420px;   /* Mobile default */
  padding: 20 10px;

}


.title {
  text-align: center;
  color: #000000;
  font-size:50px;
  margin-bottom: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}


.balance-card h1 {
  text-align: center;
  margin: 10px 0;
}

.inc-exp-container {
  display: flex;
  justify-content: space-between;
}

.income p {
  color: green;
  font-weight: bold;
}

.expense p {
  color: red;
  font-weight: bold;
}

.form-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #473b3b;
}

.btn {
  width: 100%;
  padding: 10px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background: #5a67d8;
}

#list {
  list-style: none;
  padding: 0;
}

#list li {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 8px;
}

/* Tablets */
@media (min-width: 768px) {
  .container {
    max-width: 600px;
    align-items: center;
    align-content: center;
   }
}

/* Laptops & Desktops */
@media (min-width: 1024px) {
  .container {
    max-width: 900px;
    align-items: center;
    align-content: center;
  }

  .inc-exp-container {
    gap: 40px;
  }

  .card {
    padding: 20px;
  }
}

.dashboard {
  display: block;
}

/* Desktop & Laptop */
@media (min-width: 1024px) {
  .dashboard {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
  }
}

.image-slider {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.slider-track {
  display: flex;
  max-width: 100%;
  width: calc(250px * 5);
  animation: scroll 15s linear infinite;
}

.slider-track img {
  width: 250px;
  height: 140px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 15px;
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-500%);
  }
}

.page-wrapper {
  width: 100%;
  max-width: 1200px;   /* controls center width */
  padding: 30px 20px;
}
